h1 {
    padding: 30px 0;
    border-bottom: 1px solid #ddd;
}

input {
    width: 100%;
}

#Actions {
    padding: 30px 0;
    margin-bottom: 50px;
    border-bottom: 1px solid #ddd;
}

/*
 * Message box
 */

#MessageBox {
    position: fixed;
    right: 10px;
    top: 10px;
    z-index: 99;
}

#MessageBox .message-success {
    padding: 10px;
    margin-top: 10px;
    border-radius: 3px;
    background: #d7ffc7;
}

#MessageBox .message-error {
    padding: 10px;
    margin-top: 10px;
    border-radius: 3px;
    background: #ff9ba0;
}
